
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.container{
  max-width: 1600px;
  margin: 0 auto;
}


 nav ul{
  padding: 0;
 } 
.nav-list{
  list-style: none;
   display: flex;
    gap: 20px;   
}
.nav-list a{
text-decoration: none;
color: #000000;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px 100px;
}
.nav-btn ,.btn-1{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
}
#hero{
  background-image: url(./assets/hero-bg.png)
 }
.hero-content{
  
  flex-direction: column;
  text-align: center;
  padding: 115px 445px 0px 445px;
  
}
.hero-content h2 .white{
 font-size: 48px;
 color: #FFFFFF;
}
.hero-content h2 .green{
 font-size: 48px;
 color: #30B868;
}
.hero-content p{
  color: #FFFFFF;
}
.btn{
  color: #469165;
  width: 229px;
  height: 35px;
  border-radius: 1000px;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
}


.hero-btn{
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
  gap: 20px;
}
.hero-btn .btn-2{
width: 198px;
background: none;
color: rgba(255, 255, 255, 1);
border:1px solid rgba(255, 255, 255, 1);
border-radius: 4px;

}
#header-banner h3{
text-align: center;
font-size: 48px;
align-items: end;
color: #001931;


}
#header-banner p{
  font-size: 16x;
  text-align: center;
  color: #627382;
}
.card img{
  background-color:  rgba(249, 85, 85, 1);
  border-radius: 900px;
  height: 60px;
  width: 60px;
}
#banner-card .card {
  flex-direction: column;
  display: flex;
  width: 280px;
  height: 250px;
  /* border: 2px solid black; */
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 1);

  
}
.card p{
  text-align: center;
  color: #627382;
}
#banner-card{
  display: flex;
  gap: 15px;
  padding: 15px  120px 0px 120px;

}
#brain{
  display: flex;
  padding: 120px;
  gap: 40px;
}
.brain-div{
  padding: 100px 0px;
}
.brain-div .p1{
  color: #30B868;
  font-size: 16px;
}
.brain-div h4{
font-size: 48px;
margin:0px;
}
.brain-div .p2{
  color: #627382;
}
.brain-div ul {
 list-style: none;
 
}
#main-last-container{
  padding: 0px 120px;
}

.main-last-content{
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color:  rgba(247, 246, 242, 1);
  padding: 80px 40px;
}

.main-last-content h2{
  font-size: 40px;
}
.main-last-content p{
  font-size: 16px;
  color: #627382;
  padding-top:  0px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  
}
#footer-container{
  background-color: #001931;
  margin-top: 120px;
  padding: 120px  120px 30px 120px;
}
.footer-content p{
  color: #FFFFFF;
}
.footer-content ul{
  display:flex ;
  list-style: none;
  gap: 10px;
  padding-left: 0px;
}
hr{
  margin-top: 80px;
}
.copyright {
text-align: center;
color: #FFFFFF;
padding: 30px 120px;
}


  