
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.container{
  max-width: 1600px;
  margin: 0 auto;
}


 nav ul{
  padding: 0;
 } 
.nav-list{
  list-style: none;
   display: flex;
    gap: 20px;   
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px 100px;
}
.nav-btn{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
}
#hero{
  background-image: url(./assets/hero-bg.png);
  
}

.hero-content{
  
  flex-direction: column;
  text-align: center;
  padding: 115px 250px 0px 250px;
  
}
.btn{
  color: #469165;
}
.hero-btn{
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
#header-banner h3{
text-align: center;
font-size: 48px;
align-items: end;
color: #001931;


}
#header-banner p{
  font-size: 16x;
  text-align: center;
  color: #627382;
}
.card img{
  background-color:  rgba(249, 85, 85, 1);
  border-radius: 900px;
  height: 60px;
  width: 60px;
}
#banner-card .card {
  flex-direction: column;
  display: flex;
  width: 280px;
  height: 250px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 1);

  
}
.card p{
  text-align: center;
  color: #627382;
}
#banner-card{
  display: flex;
  gap: 15px;
  padding: 15px  120px 0px 120px;

}
#brain{
  display: flex;
}

.main-last-content{
  flex-direction: column;
  display: flex;
  align-items: center;
}
.footer-content{
  display: flex;
  justify-content: space-between;
}
#footer-container{
  background-color: #001931;
}

  